<!DOCTYPE html>
<hmtl>
        <head>
                <title>{{ page.title}}</title>
                <!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
        </head>
        <body>
                <nav>
                <ul>
                        <li><a href="/clusteredcrimemaps/">Home</a></li>
                        <li><a href="/clusteredcrimemaps/about">About</a></li>
                        <li><a href="/clusteredcrimemaps/maps">Maps</a></li>
                </ul>
                </nav>
                <div class="container">

                {{ content}}

                </div><!-- /.container -->
                <footer>
                <p> placeholder footer </p>
            </footer>
        </body>
        </html>
